@import 'price-table.scss';
@import 'variables.scss';

html {
  font-family: 'Montserrat', sans-serif;
  color: $white;
  background-color: $white-first-shade;
  width: 1440px;
  height: 1000px;
  margin: auto;
}

body {
  margin: 0;
}
