@import 'variables.scss';

.table {
  margin: auto;
  display: flex;
  width: 1440px;
  height: 1000px;
  background-color: rgb(20, 27, 28);
  .price-card {
    position: relative;
    max-height: 770px;
    max-width: 380px;
    background-color: $grey-first-shade;
    margin: 115px 0 115px 132px;
    &__title {
      text-align: center;
      margin: 34px 0 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
    &__title::first-line {
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
    }
    &__price {
      display: block;
      text-align: center;
      margin-top: 33px;
      height: 105px;
      background-color: $green-first-shade;
      font-weight: 700;
      font-size: 55px;
      line-height: 105px;
    }
    &__description {
      text-align: center;
      margin: 40px 26px 0;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      color: $white;
    }
    &__options-list {
      list-style-type: none;
      margin: 40px 0 0;
      padding: 0;
      .price-card__options-list_item-marker {
        margin: 0 22px;
        width: 15px;
        height: 13px;
      }
      &_item {
        height: 50px;
        font-weight: 300;
        font-size: 15px;
        line-height: 50px;
        color: $white;
      }
      &_item:nth-child(odd) {
        background-color: $black-second-shade;
      }
    }
    &__order-btn {
      border: none;
      background-color: $green-first-shade;
      margin: 39px 112px 40px 113px;
      width: 154px;
      height: 40px;
      border-radius: 20px;
      color: $white;
    }
    &__popular {
      position: absolute;
      display: inline-block;
      text-align: center;
      line-height: 25px;
      width: 147px;
      height: 25px;
      font-weight: 700;
      font-size: 14px;
      background-color: $red-first-shade;
      transform: rotate(45deg);
      top: 1000px;
      clip-path: polygon(25px 0, 122px 0, 100% 100%, 0% 100%);
      top: 30.8px;
      left: 263.5px;
    }
  }
  .price-card:nth-child(2) {
    .price-card__price {
      background-color: $blue-first-shade;
    }
    .price-card__order-btn {
      background-color: $blue-first-shade;
    }
  }
  .price-card:nth-child(3) {
    .price-card__price {
      background-color: $orange-first-shade;
    }
    .price-card__order-btn {
      background-color: $orange-first-shade;
    }
  }
  .price-card:not(:first-child) {
    margin: 115px 0 115px 18px;
  }
}
