@import 'variables.scss';

.price-table {
  display: flex;
  margin: auto;
  background-color: $black-first-shade;
  padding: 115px 132px;
  &__price-card {
    position: relative;
    height: 770px;
    width: 380px;
    background-color: $grey-first-shade;
    // margin: 115px 0 115px 115px;
    &_title {
      text-align: center;
      margin: 34px 0 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
    &_title::first-line {
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
    }
    &_price {
      display: block;
      text-align: center;
      margin-top: 19px;
      height: 105px;
      background-color: $green-first-shade;
      font-weight: 700;
      font-size: 55px;
      line-height: 105px;
    }
    &_description {
      text-align: center;
      margin: 40px 26px 0;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
    &_options-list {
      list-style-type: none;
      margin: 40px 0 0;
      padding: 0;
      .price-table__price-card_options-list-marker {
        margin: 0 22px;
        width: 15px;
        height: 13px;
      }
      .price-table__price-card_options-list-item {
        height: 50px;
        line-height: 50px;
        background-color: $grey-first-shade;
      }
      .price-table__price-card_options-list-item:nth-child(odd) {
        background-color: $black-second-shade;
      }
    }
    &_order-btn {
      border: none;
      background-color: $green-first-shade;
      margin: 39px 112px 40px 113px;
      width: 154px;
      height: 40px;
      border-radius: 20px;
    }
    &_popular {
      position: absolute;
      display: inline-block;
      text-align: center;
      line-height: 25px;
      width: 147px;
      height: 25px;
      font-weight: 700;
      font-size: 14px;
      background-color: $red-first-shade;
      transform: rotate(45deg);
      top: 1000px;
      clip-path: polygon(25px 0, 122px 0, 100% 100%, 0% 100%);
      top: 30.8px;
      left: 263.5px;
    }
  }
  &__price-card:nth-child(2) {
    .price-table__price-card_price {
      background-color: $blue-first-shade;
    }
    .price-table__price-card_order-btn {
      background-color: $blue-first-shade;
    }
  }
  &__price-card:nth-child(3) {
    .price-table__price-card_price {
      background-color: $orange-first-shade;
    }
    .price-table__price-card_order-btn {
      background-color: $orange-first-shade;
    }
  }
  &__price-card:not(:first-child) {
    margin: 0 0 0 18px;
  }
}
