$white: rgb(255, 255, 255);
$white-first-shade: rgb(242, 242, 242);

$black-first-shade: rgb(20, 27, 28);
$black-second-shade: rgb(42, 52, 56);

$grey-first-shade: rgb(51, 66, 71);

$green-first-shade: rgb(91, 177, 137);
